/* LOGIN */
.body-login {
    font-family: "Karla", sans-serif;
    background-color: #00847e;
    min-height: 100vh; }

  .brand-wrapper {
    margin-bottom: 19px; }
    .brand-wrapper .logo {
      height: 37px; }

  .login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden; }
    .login-card-img {
      
      position: absolute;
      width: 90%;
      height: 80%;
      -o-object-fit: contain;
        object-fit: contain;
      margin-left: 30px;
      margin-top: 30px}
    .login-card .card-body {
      padding: 85px 60px 60px; }
      @media (max-width: 422px) {
        .login-card .card-body {
          padding: 35px 24px; } }
    .login-card-description {
      font-size: 25px;
      color: #000;
      font-weight: normal;
      margin-bottom: 23px; }
    .login-card form {
      max-width: 326px; }
    .login-card .form-control {
      border: 1px solid #d5dae2;
      padding: 15px 25px;
      margin-bottom: 20px;
      min-height: 50px;
      font-size: 14px;
      line-height: 15;
      font-weight: normal; }
      .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-moz-placeholder {
        color: #919aa3; }
      .login-card .form-control:-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::placeholder {
        color: #919aa3; }
    .login-card .login-btn {
      padding: 13px 20px 12px;
      background-color: #000;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      line-height: 10px;
      color: #fff;
      margin-bottom: 24px; }
      .login-card .login-btn:hover {
        border: 1px solid #dad0d0;
        background-color: #000000;
        color: #fff;
        box-shadow:20px 20px 50px grey; }
        .login-card .login-btn:focus {
        border: 1px solid #dad0d0;
        background-color: #000000;
        color: #fff;
        box-shadow:20px 20px 50px grey;  
       }
    .login-card .forgot-password-link {
      font-size: 14px;
      color: #919aa3;
      margin-bottom: 12px; }
    .login-card-footer-text {
      font-size: 16px;
      color: #0d2366;
      margin-bottom: 60px; }
      @media (max-width: 767px) {
        .login-card-footer-text {
          margin-bottom: 24px; } }
    .login-card-footer-nav a {
      font-size: 14px;
      color: #919aa3; }



a .nav-link #userDropdown {
    color: white;
}
/* a .nav-link:active {
    color: black !important; 
} */


/* .login-logo {
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.sb-topnav {
    background-color: #00847e;
}

.navbar-brand img {
    width: 165px;
    height: 40px;
}

hr .solid {
    border-top: 3px solid #bbb;
}

.sb-sidenav {
    font-size: 14px;
    background-color:#243846;
}

.sb-topnav {
    height: 70px;
    font-size: 20px;
}


.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
  }

.square-first .fa-chart-bar {
color: #4e73df;
}

.square-second .fa-chart-bar {
    color: #1cc88a;
}

.square-third .fa-chart-bar {
    color: #36b9cc;
}

.square-fourth .fa-chart-bar {
    color: #f6c23e;
}

hr.sidebar-divider {
    margin: 0 1rem 1rem;
    border-top: 0.5px solid #646669;
}

.sidenav-custom a {
    color: #fff !important;
}

.sidenav-custom a:active {
    color: rgb(0, 32, 46) !important;
}

/* .sidenav-custom a:hover {
    background-color: rgb(137, 207, 240) !important;
} */

.sidenav-custom a:hover {
    background-color: rgb(111, 118, 116) !important;
}





.form-admin form{
    width: 100%;
}

.sb-sidenav-menu-heading {
    color: #2aa260;
}

.fa-sign-out-alt {
   
    font-size: 15px;
}

/* .fa-sign-out-alt:hover {
    color: rgb(137, 207, 240) !important;
} */

.far fa-user {
    font-size: 30px;
}

.sb-nav-link-icon .fa-tasks {
    font-size: 20px;
}

.sb-nav-link-icon .fa-unlock {
    font-size: 22px;
}

#editor1 {
    width: 30rem;
    height: 30rem;
}

.btn-custom {
    background-color: #83c5be;
}

textarea.form-control {
    height: 50px;
}

th.detail {
    /* background-color: rgb(211 210 210 / 21%); */
    width: 20px;
    padding-left: 6.4px;
}

.catatan {
    width: 100%;
}

.detail.table-responsive {
    overflow-x: hidden;
}

.tahapan.form-control {
    width: 200px;
}
/* td .catatan {
    
} */

.card-header {
    background-color: #c4dad3;
}

.logout button {
    background-color: transparent;
    color: #fff !important;
    font-size: 20px !important;
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
    
}

.logout button:hover {
    
    color: rgb(137, 207, 240) !important;
}

.fa-user-circle {
    font-size: 100px;
    color: #94c0b2;
}

.profil td, .profil th {
    border-top: none;
    background-color: none;
    width: 200px;
}

.bg-profil {
background-color: rgb(205, 222, 212);
}

.keluar:hover {
    color: rgb(137, 207, 240) !important;
}

.keluar {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

.required:after {
    content:" *";
    color: red;
  }

.fa-info {
    color: white;
}

.btn-warning {
    color: white;
}

.table {
    font-size: 13px;
}

.btn {
    font-size: 12px;
}

.reset .card-body {
    background-color: #fff;
}

/* Step Wizard */
.step-line {
  background: #e0e0e0;
  height: 2px;
  width: 70vw;
  position: absolute;
  top: 30px;
  z-index: 1;
}
.nav-pills.custom li {
  background: transparent;
  margin: 0 30px;
  z-index: 2;
}
.nav-link.active.custom {
  background-color: transparent;
  color: #007bff;
}
.nav-link.custom {
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 12vw;
}
.nav-link.custom span.icon {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  width: 46px;
  height: 46px;
  margin: 0 auto;
}
.nav-link.custom.active span.icon {
  background-color: #007bff;
  color: #fff;
}
.nav-link.custom i {
  font-size: 28px;
}
.tab-content.custom {
  display: flex;
  justify-content: center;
}
.tab-content.custom .tab-pane {
  width: 50vw;
}
@media screen and (min-width: 840px) {
  .tab-content.custom .tab-pane {
    width: 60vw;
  }
}

.nav-item .disabled {
  color: gray;
}

.table td .data {
  padding: 0.1rem !important;
}

a {
  height: fit-content !important;
}

.table .fitur th, .table td {
  padding: 0.4rem;
}

input {
  font-size: 9px;
}

.table textarea {
  font-size: 12px;
}